<div class="row" *ngFor="let evento of Evento">
  <br><br>
  <div class="col s12 m6" class="container center-align">
    <h1 class="card-title" class="fonte">{{ evento.nome }}</h1>
    <button>Editar</button>
    <button (click)="deletaEvento(evento.id)">
      Deletar
    </button>
    <div class="card" class="container center-align">
      <div class="card-image">
        <img class="image" src="{{ evento.img }}" alt="">
        <a class="fixed-action btn-floating blue pulse">
          <i class="material-icons">favorite</i>
        </a>
      </div>
      <div class="card-content">
        <p>{{ evento.descricao }} </p>
      </div>
      <div class="card-content" *ngFor="let telefone of evento.telefone">
        <p>({{ telefone.ddd }}) {{ telefone.numero }} </p>
      </div>
    </div>
  </div>
</div>