<!--*ngIf="mostrarMenu"-->
<nav class="color">
  <div class="nav-wrapper">
    <a routerLink="" class="brand-logo">Home</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
      <!--li routerLinkActive="active"><a routerLink="/usuarios" [queryParams]="{pagina:1}">Cadastre-se</a></li-->
      <!--li routerLinkActive="active"><a [routerLink]="['usuario', idUsuarios.value]">Usuario id</a></li-->
      <li routerLinkActive="active"><a routerLink="/usuarios">Cadastre-se</a></li>
      <!--li routerLinkActive="active"><a routerLink="/eventos">Eventos</a></li-->
      <li routerLinkActive="active"><a routerLink="/eventos">Eventos</a></li>
      <li><a class="waves-effect waves-light btn" (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
