<h5 class="fonte">
  <b>ACHEI O PET</b>
</h5>
<div class="container">
  <div class="row">
    <br><br>
    <div class="col s12 m6">
      <div class="card-content ">
        <p class="conteiner center-align">Lista de animais perdidos.</p>
      </div>
      <a routerLink="/perdidos">
        <div class="card">
          <div class="card-image">
            <img class="image">
          </div>
        </div>
      </a>
    </div>

    <div class="col s12 m6">
      <div class="card-content">
        <p class="conteiner center-align">Lista de animais encontrados.</p>
      </div>
      <a routerLink="/encontrados">
        <div class="card">
          <div class="card-image">
            <img class="image_2">
          </div>
        </div>
      </a>
      <div class="card-action">
      </div>
    </div>
  </div>
</div>