
.responsive {
  max-width: 100%;
  height: auto;
  max-height: 260px;
  display: block;
  margin: 0 auto;
}

.fonte{
  font-family: 'Times New Roman', Times, serif;
  color: black;
  text-align: center;
  font-size: 60px;
}

.card {
  background-color: rgb(240, 238, 235);
}