.image{
    max-width: 100% !important;
    height: 350px !important;
    object-fit: contain !important;
    object-position: bottom right;
    padding: 10px;
    display: block;
    margin: 0 auto;
    background: no-repeat center center;
}

.fonte{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    font-size: 60px;
}

.card  {
    width: 60% !important;
}

.fixed-action {
    left: 37%;
}