<h2 class="fonte">
  <b>ENCONTRADOS</b>
</h2>

<div class="row" *ngFor="let encontrado of encontrado">
  <br><br>
  <div class="col s12 m6" class="container center-align">
    <h1 class="card-title" class="fonte">{{ encontrado.nome }}</h1>
    <div class="card" class="container center-align">
      <div class="card-image">
        <img class="image" src="{{ encontrado.img }}" alt="">
        <a class="fixed-action btn-floating blue pulse">
          <i class="material-icons">favorite</i>
        </a>
      </div>
      <div class="card-content">
        <p>{{ encontrado.descricao }} </p>
      </div>
      <div class="card-content" *ngFor="let telefone of encontrado.telefone" >
        <p>({{ telefone.ddd }})  {{ telefone.numero }} </p>
      </div>
    </div>
  </div>
</div>