<h2 class="fonte">
  <b>ENCONTRADOS</b>
</h2>

<div class="row">
  <br><br>
  <div class="col s12 m6" class="container center-align">
    <h1 class="card-title" class="fonte">Xodó</h1>
    <div class="card" class="container center-align">
      <div class="card-image">
        <img class="image" alt="">
        <a class="fixed-action btn-floating blue pulse">
          <i class="material-icons">favorite</i>
        </a>
      </div>
      <div class="card-content">
        <p>Foi encontrado na cidade de Ituiutaba.</p>
      </div>
      </div>
    </div>
  </div>