.image{
    max-width: 100% !important;
    height: 395px !important;
    width: 395px !important;
    object-fit: contain;
    padding: 10px;
    display: block;
    margin: 0 auto;
    background:url('img/dog2.png') no-repeat center center;
}

.fonte{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    font-size: 60px;
}

.card {
    max-width: 50% !important;
}

.fixed-action {
    left: 23%;
}