<div *ngIf="isLoggedIn; else loggedOut">
  Logged in as {{roles}}.
</div>

<ng-template #loggedOut>
  <div class="row col-sm-6" style="max-width:350px;">
    <form name="form" #f="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="nome" [(ngModel)]="login.nome" required />
      </div>
      <div class="form-group">
        <label for="username">Email</label>
        <input type="text" class="form-control" name="email" [(ngModel)]="login.email" required />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="login.senha" required minlength="6" />
      </div>
      <div class="form-group">
        <button (click)="criar()" class="btn btn-primary">CRIAR</button>
      </div>
    </form>
  </div>
</ng-template>