<div class="container" style="margin-top: 2px;ng">
  <div class="col s12">
    <div class="row">
      <div class="col s4">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="LOCAL(CIDADE/ESTADO/PAIS)" aria-label="Number" matInput
              [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
      <div class="col s3">
        <label>Tipo do Pet</label>
        <select class="browser-default">
          <option value="" disabled selected>Escolha o tipo</option>
          <option *ngFor="let tipoPet of tipoPet" value="{{ tipoPet.id }}">{{ tipoPet.nome }}</option>
        </select>
      </div>
      <div class="col s3">
        <label>Tipo do Pet</label>
        <select class="browser-default">
          <option value="" disabled selected>Escolha a raça</option>
          <option *ngFor="let tipoPet of tipoPet" value="{{ tipoPet.id }}">{{ tipoPet.nome }}</option>
        </select>
      </div>
      <div class="col s2">
        <button class="waves-effect waves-light btn" (click)="getEvento()">Buscar</button>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngFor="let encontrado of Evento">
  <br><br>
  <div class="col s12 m6" class="container center-align">
    <h1 class="card-title" class="fonte">{{ encontrado.nome }}</h1>
    <div class="card" class="container center-align">
      <div class="card-image">
        <img class="image" src="{{ encontrado.img }}" alt="">
        <a class="fixed-action btn-floating blue pulse">
          <i class="material-icons">favorite</i>
        </a>
      </div>
      <div class="card-content">
        <p>{{ encontrado.descricao }} </p>
      </div>
      <div class="card-content" *ngFor="let telefone of encontrado.telefone">
        <p>({{ telefone.ddd }}) {{ telefone.numero }} </p>
      </div>
    </div>
  </div>
</div>