<h2 class="fonte">
  <b>PERDIDOS</b>
</h2>

<div class="row" *ngFor="let perdido of perdido">
  <br><br>
  <div class="col s12 m6" class="container center-align">
    <h1 class="card-title" class="fonte">{{ perdido.nome }}</h1>
    <div class="card" class="container center-align">
      <div class="card-image">
        <img class="image" src="{{ perdido.img }}" alt="">
        <a class="fixed-action btn-floating blue pulse">
          <i class="material-icons">favorite</i>
        </a>
      </div>
      <div class="card-content">
        <p>{{ perdido.descricao }} </p>
      </div>
      <div class="card-content" *ngFor="let telefone of perdido.telefone">
        <p>({{ telefone.ddd }}) {{ telefone.numero }} </p>
      </div>
    </div>
  </div>
</div>