<h2 class="fonte">
    <b>PERDIDOS</b>
  </h2>
  
  <div class="row">
    <br><br>
    <div class="col s12 m6" class="container center-align">
      <h1 class="card-title" class="fonte">Milk</h1>
      <div class="card" class="container center-align">
        <div class="card-image">
          <img class="image" alt="">
          <a href="#" class="fixed-action btn-floating blue pulse">
            <i class="material-icons">favorite</i>
          </a>
        </div>
        <div class="card-content">
          <p>Está perdido há duas semanas.</p>
        </div>
        </div>
      </div>
    </div>

  